In [1]:
import sys
sys.path.append(r'C:\Users\HP\Desktop\Jupiter_Guvi_learning\PySql_project\Jobs')

In [2]:
import pysql as ps
mycursor = ps.mycursor
mydb = ps.mydb

Connection established successfully

In [3]:
mycursor.execute("USE pysql_db;")
from tabulate import tabulate

In [4]:
#Question 1
mycursor.execute("SELECT * FROM warehouses;")
mycursor.fetchall()

[(1, 'Chicago', 3),
 (2, 'Chicago', 4),
 (3, 'New York', 7),
 (4, 'Los Angeles', 2),
 (5, 'San Francisco', 8)]

In [5]:
#Question 2
mycursor.execute("SELECT * FROM boxes WHERE value >150;")
mycursor.fetchall()

[('0MN7', 'Rocks', 180.0, 3),
 ('4H8P', 'Rocks', 250.0, 1),
 ('4RT3', 'Scissors', 190.0, 4),
 ('7G3H', 'Rocks', 200.0, 1),
 ('9J6F', 'Papers', 175.0, 2)]

In [6]:
#Question 3
mycursor.execute("SELECT distinct(contents) as contents FROM boxes;")
mycursor.fetchall()

[('Rocks',), ('Scissors',), ('Papers',)]

In [7]:
#Question 4
mycursor.execute("SELECT Avg(value) as Avgvalue FROM boxes;")
mycursor.fetchall()

[(147.72727272727272,)]

In [8]:
#Question 5
mycursor.execute("""SELECT Warehouse, Avg(value) Average_Value FROM boxes
                    GROUP BY Warehouse""")
out = mycursor.fetchall()
print(tabulate(out,headers=[x[0] for x in mycursor.description], tablefmt='psql'))

+-------------+-----------------+
|   Warehouse |   Average_Value |
|-------------+-----------------|
|           1 |           162.5 |
|           2 |           162.5 |
|           3 |           115   |
|           4 |           165   |
|           5 |            90   |
+-------------+-----------------+

In [9]:
#Question 6
mycursor.execute("""SELECT Warehouse,AVG(value)FROM boxes
                    GROUP BY Warehouse
                    HAVING AVG(value) > 150;""")
out = mycursor.fetchall()
print(tabulate(out,headers=[x[0] for x in mycursor.description], tablefmt='psql'))

+-------------+--------------+
|   Warehouse |   AVG(value) |
|-------------+--------------|
|           1 |        162.5 |
|           2 |        162.5 |
|           4 |        165   |
+-------------+--------------+

In [10]:
#Question 7
mycursor.execute("""SELECT b.Code, w.Location FROM boxes b
                    LEFT JOIN warehouses w ON w.Code = b.warehouse;""")
out = mycursor.fetchall()
print(tabulate(out,headers=[x[0] for x in mycursor.description], tablefmt='psql'))

+--------+---------------+
| Code   | Location      |
|--------+---------------|
| 4H8P   | Chicago       |
| 7G3H   | Chicago       |
| 8JN6   | Chicago       |
| P0H6   | Chicago       |
| 9J6F   | Chicago       |
| P2T6   | Chicago       |
| 0MN7   | New York      |
| 8Y6U   | New York      |
| 4RT3   | Los Angeles   |
| LL08   | Los Angeles   |
| TU55   | San Francisco |
+--------+---------------+

In [11]:
#Question 8
mycursor.execute("""SELECT w.code, count(b.code) FROM warehouses w
                    LEFT JOIN boxes b ON b.warehouse = w.code
                    GROUP BY w.code;""")
out = mycursor.fetchall()
print(tabulate(out,headers=[x[0] for x in mycursor.description], tablefmt='psql'))

+--------+-----------------+
|   code |   count(b.code) |
|--------+-----------------|
|      1 |               4 |
|      2 |               2 |
|      3 |               2 |
|      4 |               2 |
|      5 |               1 |
+--------+-----------------+

In [12]:
#Question 9
mycursor.execute("""SELECT w.code, count(b.code) ct FROM warehouses w
                    LEFT JOIN boxes b ON b.warehouse = w.code
                    GROUP BY w.code
                    HAVING ct >-1;""")
out = mycursor.fetchall()
print(tabulate(out,headers=[x[0] for x in mycursor.description], tablefmt='psql'))

+--------+------+
|   code |   ct |
|--------+------|
|      1 |    4 |
|      2 |    2 |
|      3 |    2 |
|      4 |    2 |
|      5 |    1 |
+--------+------+

In [13]:
#Question 10
mycursor.execute("""SELECT w.code FROM warehouses w
                    LEFT JOIN boxes b ON b.warehouse = w.code
                    GROUP BY w.code, w.Capacity
                    HAVING count(b.Contents) >  w.Capacity;""")
out = mycursor.fetchall()
print(tabulate(out,headers=[x[0] for x in mycursor.description], tablefmt='psql'))

+--------+
|   code |
|--------|
|      1 |
+--------+

In [14]:
#Question 11
mycursor.execute("""SELECT code FROM warehouses
                    WHERE Location ="Chicago" ;""")
out = mycursor.fetchall()
print(tabulate(out,headers=[x[0] for x in mycursor.description], tablefmt='psql'))

+--------+
|   code |
|--------|
|      1 |
|      2 |
+--------+

In [15]:
#Question 12
mycursor.execute("""INSERT INTO warehouses (code, Location, Capacity)
                    VALUES (7,'New York', 3);""")
mydb.commit()

In [16]:
#Question 13
mycursor.execute("""INSERT INTO boxes(code,contents,value,warehouse)
                    VALUES('H5RT','Papers',200,2);""")
mydb.commit()

In [17]:
#Question 14
mycursor.execute("""DELETE FROM boxes
                    WHERE value < 100;""")
mydb.commit()

In [18]:
#Question 15
mycursor.execute("""DELETE from warehouses
                    WHERE code in (SELECT w.Code
                    FROM warehouses w
                    JOIN boxes b ON w.Code = b.warehouse
                    GROUP BY w.Code,w.Capacity
                    HAVING COUNT(b.code) > w.Capacity)""")
mydb.commit()

In [22]:
#Question 16
mycursor.execute('CREATE INDEX idx_warehouse ON boxes (Warehouse);')
mydb.commit()

In [23]:
#Question 17
mycursor.execute('SHOW INDEXES FROM boxes;')
out = mycursor.fetchall()
print(tabulate(out,headers=[x[0] for x in mycursor.description], tablefmt='psql'))

+---------+--------------+---------------+----------------+---------------+-------------+---------------+------------+----------+--------+--------------+-----------+-----------------+
| Table   |   Non_unique | Key_name      |   Seq_in_index | Column_name   | Collation   |   Cardinality | Sub_part   | Packed   | Null   | Index_type   | Comment   | Index_comment   |
|---------+--------------+---------------+----------------+---------------+-------------+---------------+------------+----------+--------+--------------+-----------+-----------------|
| boxes   |            0 | PRIMARY       |              1 | Code          | A           |             9 |            |          |        | BTREE        |           |                 |
| boxes   |            1 | idx_warehouse |              1 | Warehouse     | A           |             9 |            |          |        | BTREE        |           |                 |
+---------+--------------+---------------+----------------+---------------+-------------+---------------+------------+----------+--------+--------------+-----------+-----------------+

In [24]:
#Question 18
mycursor.execute("""ALTER TABLE boxes DROP INDEX idx_warehouse;""")